@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    color: midnightblue;
}

body {
    background-color: midnightblue;
    display: flex;
    justify-content: center;
}

/******************************************** General ****************************************/
.popupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    height: 100%;
    background-color: #eeeeee;

    z-index: 3000;
    font-family: 'Roboto';
    /* font-size: 11pt; */
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;

    overflow-y: auto;
    width: 95%;
}

.pageInfos,
.settings,
.infos {
    font-family: 'Roboto';
    margin: 10px 15px;
}
.identifier {
    margin: 20px;
}

.identifier,
.currentPageColored {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
}

/**************************************** End General ****************************************/
/**************************************** Name and Icons *************************************/

.iconsRight {
    justify-content: flex-end;
    right: 0px;
    align-items: center;
}

.logo IMG {
    width: 35px;
    margin: 0px 5px 0px 0px;
}

.name {
    font-size: 14pt;
    margin: 0px 100px 0px 0px;
}

.questionImage {
    width: 150px;
    margin-right: 15px;
}

/**************************************** End Name and Icons *********************************/
/**************************************** Infos **********************************************/

.Headline {
    font-size: 25px;
    margin-bottom: 5px;
}

.q,
.a {
    margin: 0px;
    margin-top: 5px;
}

.a,
.infotext {
    margin-top: 5px;
    font-weight: 500;
}

.infoblock,
.infos,
.faq {
    display: flex;
    box-sizing: border-box;
    margin: 30px 0px;
    width: 80%;
}

.separatorLine {
    position: static;
    width: 80%;
    height: 1px;
    background: #474c59;
}

.noMargin {
    margin: 0px;
}

.writeEmail {
    margin: 10px;
}
