@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: mediumseagreen;
}
body.warning{
    background-color:tomato;
}
body.unknown{
    background-color: #fbba2e;
}

/******************************************** General ****************************************/
.popupContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: static;
    height: 100%;
    background-color: #eeeeee;

    z-index:3000;
    font-family: 'Roboto';
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
}

.pageInfos, .settings, .infos{
    font-family: 'Roboto';
    color: #707070;
    margin: 10px 15px;
}
.identifier {
    margin: 20px;
}

.identifier, .currentPageColored {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
}

/**************************************** End General ****************************************/
/*****************************************Name and Icons *************************************/

.iconsRight {
    justify-content: flex-end;
    right: 0px;
    align-items: center;
}

.logo{
    position: static;
}

.logo IMG{
    width: 35px;
    margin: 0px 5px 0px 0px;
}

.name {
    font-size: 14pt;
    margin: 0px 100px 0px 0px;
}

/**************************************** End Name and Icons *********************************/
/**************************************** Current Page ***************************************/

.infoblock{
    margin: 30px 300px;
}

.separatorLine {
    position: static;
    width: 70%;
    height: 1px;
    background: #474C59;
}

.currentPageText {
    font-size: 9pt;
}

.currentPageIMG {
    width: 60px;
    margin: 0px 10px 0px 0px;
    -w-embedSVG:yes;
}

.currentPageShortIndication {
    font-size: 22pt;
}

.warning .currentPageColored {
    color: tomato;   
}

.safe .currentPageColored {
    color: mediumseagreen;   
}

.unknown .currentPageColored {
    color: #fbba2e;
}
