.appendedSecurityLogo {
    z-index: 5;
    float: left;
    position: relative;
    display: -webkit-inline-box !important;
    display: block;
    width: 50px;
    height: 50px;
    right: 0px;
    margin: 0px 8px;
}

.warningSecurityLogo{
    fill: red;
}

.unknownSecurityLogo{
    fill: rgb(243, 227, 0);
}

.safeSecurityLogo{
    fill:green;
}

.iconHovered {
    fill: white;
}

.iconInfoText{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

  .appendedSecurityLogo:hover .iconInfoText {
    visibility: visible;
    opacity: 1;
  }


/****************** HOVER CONTAINER**********************/

.hoverContainer {
    opacity: 0;
    z-index:3;
    width: 300px;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 10px;

/*     wird noch nicht angezeigt
 */    outline-color: #808080;
    outline-width: 2px;
}
.hoverContainerOnHover{
    opacity: 1;
}

.hoverContainerBackground div{
    padding: 8px;
}

.siteInfoText {
    background-color: #808080;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.siteInfotextWarning {
    background-color: rgb(238, 70, 18);
}

.siteInfotextSafe {
    background-color: rgb(80, 219, 110);
}

.readMore {
    white-space: pre-line;
    font-weight:500;
}