.appendedSecurityLogo {
    float: left;
    position: relative;
    display: -webkit-inline-box !important;
    display: block;
    width: 50px;
    height: 50px;
    right: 0px;
    margin: 0px 8px;
}

#warningSecurityLogo{
    fill: red;
}

#safeSecurityLogo{
    fill:green;
}