.appendedSecurityLogo {
    z-index: 5;
    float: left;
    position: relative;
    display: -webkit-inline-box !important;
    display: block;
    width: 50px;
    height: 50px;
    right: 0px;
    margin: 0px 8px;
}

.warningSecurityLogo{
    fill: red;
}

.unknownSecurityLogo{
    fill: rgb(243, 227, 0);
}

.appendedSecurityLogo:hover {
    fill: grey;
}

.safeSecurityLogo{
    fill:mediumseagreen;
}

/* .iconHovered {
    fill: white;
} */

.iconInfoText{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

  .appendedSecurityLogo:hover .iconInfoText {
    visibility: visible;
    opacity: 1;
  }


/****************** HOVER CONTAINER**********************/

.hoverContainer {
    position: absolute;
    opacity: 0;
    z-index:3000;
    width: 300px;
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 10px;

/*     wird noch nicht angezeigt
 */    outline-color: #808080;
    outline-width: 2px;
}
.hoverContainerOnHover{
    opacity: 1;
}

.hoverContainerBackground div{
    padding: 8px;
}

.siteInfoText {
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.siteInfotextWarning {
    background-color: rgb(238, 70, 18);
}

.siteInfotextSafe {
    background-color: mediumseagreen;
}

.boxLowerPart {
    background-color: #F0F0F0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.justifyPhish {
    font-weight:500;
}

.hoverContainerBackground .boxLowerPart .separatorLine {
    align-items: center;
    height: 1px;
    background: #8D9386;
    padding: 0px;
    margin: 5px 15px;
}

.readMore {
    white-space: pre-line;
    font-weight:500;
}

.readMore a{
    color:#3366cc;
}