.appendedSecurityLogo {
    z-index: 5;
    float: left;
    position: relative;
    display: -webkit-inline-box !important;
    display: block;
    height: 40px;
    right: 0px;
    margin: 5px;
}

.warningSecurityLogo{
    fill: tomato;
}

.unknownSecurityLogo{
    fill: #fbba2e;
}

.appendedSecurityLogo:hover {
    fill: grey;
}

.safeSecurityLogo{
    fill:mediumseagreen;
}

/* .iconHovered {
    fill: white;
} */

.iconInfoText{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

  .appendedSecurityLogo:hover .iconInfoText {
    visibility: visible;
    opacity: 1;
  }


/****************** HOVER CONTAINER**********************/

.hoverContainer {
    position: absolute;
    z-index:3000;
    width: 300px;
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.hoverContainerBackground div{
    padding: 8px;
}

.siteInfoText {
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.siteInfotextWarning {
    background-color: tomato;
}

.siteInfotextSafe {
    background-color: mediumseagreen;
}

.siteInfotextUnknown {
    background-color: #fbba2e;
}

.boxLowerPart {
    background-color: #eeeeee;
    color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.justifyPhish {
    font-weight:500;
}

.hoverContainerBackground .boxLowerPart .separatorLine {
    align-items: center;
    height: 1px;
    background: #8D9386;
    padding: 0px;
    margin: 5px 15px;
}

.readMore {
    white-space: pre-line;
    font-weight:500;
}

.readMore a{
    color:#3366cc;
}


/****************** BELONGING **********************/
.belongingObject {
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0
}
