body{
    background-color: #808080;
}
.popupContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: static;
    width: 350px;
    height: 500px;
    background-color: #dddddd;

    z-index:3000;
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
}

.identifier {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.iconsRight {
    justify-content: flex-end;
    right: 0px;
    align-items: center;
}

.logo{
    position: static;
    height: 35px;
}

.name {
    font-size: 14pt;
}

.separatorLine {
    position: static;
    width: 80%;
/*     margin: 5% 10%;
 */    height: 1px;
    background: #474C59;
}