@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: mediumseagreen;
}
body.warning{
    background-color:tomato;
}
body.unknown{
    background-color: #fbba2e;
}

/******************************************** General ****************************************/
.popupContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: static;
    width: 350px;
    /* height: 500px; */
    background-color: #eeeeee;

    z-index:3000;
    font-family: 'Roboto';
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
}

.pageInfos, .settings, .infos{
    font-family: 'Roboto';
    color: #707070;
    margin: 10px 15px;
}

.identifier, .currentPageColored {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
}

/**************************************** End General ****************************************/
/*****************************************Name and Icons *************************************/

.iconsRight {
    justify-content: flex-end;
    right: 0px;
    align-items: center;
}

.logo{
    position: static;
}

.logo IMG{
    width: 35px;
    margin: 0px 5px 0px 0px;
}

.name {
    font-size: 14pt;
    margin: 0px 100px 0px 0px;
}

/**************************************** End Name and Icons *********************************/
/**************************************** Current Page ***************************************/

.separatorLine {
    position: static;
    width: 90%;
    height: 1px;
    background: #474C59;
}

.currentPageText {
    font-size: 9pt;
}

.currentPageIMG {
    width: 60px;
    margin: 0px 10px 0px 0px;
    -w-embedSVG:yes;
}

.currentPageShortIndication {
    font-size: 22pt;
}

.warning .currentPageColored {
    color: tomato;   
}

.safe .currentPageColored {
    color: mediumseagreen;   
}

.unknown .currentPageColored {
    color: #fbba2e;
}


/**************************************** End Current page ***********************************/
/******************************************** Settings ***************************************/

.settingBox {
    margin: 0px 0px 10px 0px;
    display: flex;
    float: left;
    align-items: row;
}

.settingTitle {
    font-size: 14pt;
    color: black;
}

.settingTitle.notApplicable {
    color: #707070;
}

.settingExplanation {
    font-size: 8pt;
}

.settingInfos {
    width: 260px;
}

.languageSelectionBox {
    display: flex;
    float: left;
    align-items: row;
    justify-content: flex-end;
}

.languageSelectionBox .settingInfos {
    width: 245px;
}

/* The switch - the box around the slider */
/* Switch from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/************************************* End Slider ***********************************/